<div class="col-md-4 mt-4">
  <% if current_member == @member %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">飼い猫を編集</h5>
        <%= form_with(model: @cat, url: cat_path(@cat), method: :patch) do |f| %>
          <div class="mb-3">
            <%= f.label :image, '猫の写真', class: 'form-label' %>
            <%= f.file_field :image, class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= f.label :name, '猫の名前', class: 'form-label' %>
            <%= f.text_field :name, class: 'form-control', placeholder: '猫の名前' %>
          </div>
          <div class="mb-3">
            <%= f.label :introduction, '自己紹介', class: 'form-label' %>
            <%= f.text_area :introduction, class: 'form-control', placeholder: '自己紹介' %>
          </div>
          <div class="mb-3">
            <%= f.label :breed_name, '猫の種類', class: 'form-label' %>
            <%= f.text_field :breed_name, class: 'form-control', placeholder: '猫の種類を入力してください' %>
          </div>
          <div class="mb-3">
            <%= f.label :sex, '性別', class: 'form-label' %>
            <div class="form-check form-check-inline">
              <%= f.radio_button :sex, :male, class: 'form-check-input', checked: true %>
              <%= f.label '男の子', class: 'form-check-label' %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :sex, :female, class: 'form-check-input' %>
              <%= f.label '女の子', class: 'form-check-label' %>
            </div>
          </div>
          <div class="mb-3">
            <%= f.label :birthday, '誕生日', class: 'form-label' %>
            <%= f.date_field :birthday, class: 'form-control', placeholder: '誕生日' %>
          </div>
          <div class="mb-3">
            <%= f.label :family_join_day, '家族になった日', class: 'form-label' %>
            <%= f.date_field :family_join_day, class: 'form-control', placeholder: '家族になった日' %>
          </div>
          <div class="mb-3">
            <%= f.label :weight, '現在の体重（kg）', class: 'form-label' %>
            <%= f.number_field :weight, class: 'form-control', step: '0.1', placeholder: '現在の体重（kg）' %>
          </div>
          <div class="mb-3">
            <%= f.label :ideal_weight, '理想の体重（kg）', class: 'form-label' %>
            <%= f.number_field :ideal_weight, class: 'form-control', step: '0.1', placeholder: '理想の体重（kg）' %>
          </div>
          <div class="mb-3">
            <%= f.submit '猫ちゃんを更新する', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>