<div class="container">
  <h1>飼い猫一覧</h1>
  <div class="row">
    <!-- 飼い猫の一覧を左側に表示 -->
    <div class="col-md-8">
  <%= @member.name %>さんの猫
  <% @member.cats.each do |cat| %>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="card-img-top">
            <% if cat.image.present? %>
              <%= link_to cat_path(cat) do %>
                <%= image_tag cat.image, class: "rounded-circle", size: "150x150" %>
              <% end %>
            <% else %>
              <%= link_to cat_path(cat) do %>
                <%= image_tag 'default-image.svg' %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <%= link_to cat_path(cat) do %>
              <h5 class="card-title"><%= cat.name %></h5>
            <% end %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= cat.breed.name %></li>
              <li class="list-group-item"><%= cat.introduction %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

  <div class="col-md-4 mt-4">
      <% if current_member == @member %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">飼い猫を追加</h5>
            <%= form_with model: @cat, url: cats_path, method: :post do |f| %>
        <div class="mb-3">
          <%= f.label :image, '猫の写真', class: 'form-label' %>
          <%= f.file_field :image, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :breed_name, '猫の種類', class: 'form-label' %>
          <%= f.text_field :breed_name, class: 'form-control', placeholder: '猫の種類を入力してください' %>
        </div>
        <div class="mb-3">
          <%= f.label :name, '猫の名前', class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control', placeholder: '猫の名前' %>
        </div>
        <div class="mb-3">
          <%= f.label :birthday, '誕生日', class: 'form-label' %>
          <%= f.text_field :birthday, class: 'form-control', placeholder: '誕生日' %>
        </div>
        <div class="mb-3">
          <%= f.label :sex, '性別', class: 'form-label' %>
          <%= f.text_field :sex, class: 'form-control', placeholder: '性別' %>
        </div>
        <div class="mb-3">
          <%= f.label :introduction, '自己紹介', class: 'form-label' %>
          <%= f.text_area :introduction, class: 'form-control', placeholder: '自己紹介' %>
        </div>
        <div class="mb-3">
          <%= f.label :family_join_day, '家族になった日', class: 'form-label' %>
          <%= f.text_field :family_join_day, class: 'form-control', placeholder: '家族になった日' %>
        </div>
        <div class="mb-3">
          <%= f.label :weight, '現在の体重（kg）', class: 'form-label' %>
          <%= f.text_field :weight, class: 'form-control', placeholder: '現在の体重（kg）' %>
        </div>
        <div class="mb-3">
          <%= f.label :ideal_weight, '理想の体重（kg）', class: 'form-label' %>
          <%= f.text_field :ideal_weight, class: 'form-control', placeholder: '理想の体重（kg）' %>
        </div>
        <%= f.submit '猫ちゃんを追加する', class: 'btn btn-primary' %>
             <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

