<div class="container">
  <h1 class="text-center mx-3 my-3 ">ブログ一覧</h1>
  <div class="row">
    <% @blogs.each do |blog| %>
    <%= link_to blog_path(blog) do %>
      <div class="col-md-3">
        <div class="card mb-3">
          <% if blog.image.present? %>
            <%= image_tag blog.image, width: 220, height: 160, class: "img-resize, rounded mx-auto d-block", style: "object-fit: cover;" %>
          <% else %>
            <%= image_tag 'blog-no-image.jpg', width: 220, height: 160, class: "img-resize, rounded mx-auto d-block", style: "object-fit: cover;" %>
          <% end %>
          <div class="card-body">
            <p class="card-title"><%= blog.title %></p><hr>
            <p class="card-text">投稿者: <%= blog.member.name %>さん</p><hr>
            <p class="card-text">投稿日時: <%= blog.created_at.strftime("%Y/%m/%d %H:%M") %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
   </div>
</div>
