<div class="container mt-5">
  <div class="card mb-3">
    <%= image_tag @blog.get_image,class: "rounded mx-auto d-block", style: "object-fit: cover"; %>

    <div class="card-body">
      <h5 class="card-title"><%= @blog.title %></h5>
      <p class="card-text"><%= @blog.body %></p><hr>
      <p class="card-text">
        <%= link_to member_path(@member) do %>
          <% if @blog.member.profile_image.present? %>
            <%= image_tag @blog.member.profile_image, class: "rounded-circle image_tag", size: "50x50" %>
          <% else %>
            <%= image_tag 'member-no-image.jpg', class: "rounded-circle image_tag", size: "50x50" %>
          <% end %>
          <%= @blog.member.name %>さん
        <% end %>
      </p>
      <div class="float-right">
        <p class="card-text"><small class="text-muted"><%= @blog.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></small></p>
        <p class="card-text">
          <i class="fa fa-commenting"></i>
          <span class="blog_comments_count">
          <%= render "public/blog_comments/counter", blog: @blog %>
          </span>
          <span id="favorite_buttons_<%= @blog.id %>">
           <%= render "public/favorites/favorite", blog: @blog %>
         </span>
        </p>
      </div>
    </div>
  </div>
</div>
 <div class="blog_comments">
  <%= render "public/blog_comments/comment", blog: @blog %>
</div>
