<%= render 'profile', member: @member %>

<div class="container py-5 my-5">
  <% if @member.cats.empty? %>
  <p class="text-center">猫は登録されていません。</p>
<% else %>
  <h2 class="text-center py-3"><%= @member.name %>さんの猫ちゃん</h2>
  <div class="row">
    <% @cats.each do |cat| %>
     <%= link_to cat_path(cat) do %>
      <div class="col-md-4">
        <div class="card">
         <% if cat.image.present? %>
            <%= image_tag cat.image, width: 220, height: 160, class: "img-resize, rounded mx-auto d-block", style: "object-fit: cover;" %>
          <% else %>
            <%= image_tag 'cat-no-image.jpg', width: 220, height: 160, class: "img-resize, rounded mx-auto d-block", style: "object-fit: cover;" %>
          <% end %>
          <div class="card-body text-center">
            <h5 class="card-title"><%= cat.full_name %></h5>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center"><%= link_to 'もっと見る', member_cats_path(@member) %></div>
  <% end %>
</div>


<div class="container">
<h2 class="text-center"><%= @member.name %>さんの投稿</h2>
<div class="row">
  <% @blogs.each do |blog| %>
    <%= link_to blog_path(blog) do %>
      <div class="col-md-3">
        <div class="card mb-3">
          <% if blog.image.present? %>
            <%= image_tag blog.image, width: 220, height: 160, class: "img-resize, rounded mx-auto d-block", style: "object-fit: cover;" %>
          <% else %>
            <%= image_tag 'blog-no-image.jpg', width: 220, height: 160, class: "img-resize, rounded mx-auto d-block", style: "object-fit: cover;" %>
          <% end %>
          <div class="card-body">
            <p class="card-title"><%= blog.title %></p><hr>
            <p class="card-text">
              <i class="fa-regular fa-comment"></i><%= blog.blog_comments.count %>
              <i class="fa-solid fa-heart pl-3"></i><%= blog.favorites.count %>
            </p><hr>
            <p class="card-text">投稿日時: <%= blog.created_at.strftime("%Y/%m/%d %H:%M") %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

