<div class="container mt-5">
  <div class="row mt-3 mb-3">
    <div class="col">
      <h1>コミュニティ一覧</h1>
    </div>
    <div class="col text-right">
      <%= link_to "コミュニティを作成する", new_community_path, class: "btn btn-outline-success" %>
    </div>
  </div>

  <div class="row">
    <% @communities.each do |community| %>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title community-title"><%= community.title %></h5>
          </div>
          <%= image_tag community.image, class: 'card-img-top community-image', alt: 'Community Image', style: 'height: 100px;' %>
          <div class="card-body">
            <p class="card-text community-body"><%= community.body %></p>
          </div>
          <div class="card-footer">
            <%= link_to '詳細を見る', community_path(community), class: 'btn btn-outline-primary btn-block' %>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @communities %>
  </div>
</div>