<div class="container">

<h1 class="text-center">コミュニティ一覧</h1>

<div class="row">
  <% @communities.each do |community| %>
    <div class="col-md-3 mb-4">
      <div class="card w-100">
        <div class="card-header">
          <h5 class="card-title community-title"><%= community.title %></h5>
        </div>
        <%= image_tag community.image, class: 'card-img-top community-image', alt: 'Community Image', style: 'height: 100px;' %>
        <div class="card-body">
          <p class="card-text community-rule"><%= community.rule %></p><hr>
          <p class="card-text community-body"><%= community.body %></p>
        </div>
        <div class="card-footer">
          <%= link_to '詳細を見る', community_path(community), class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "新しいコミュニティを作成", new_community_path, class: "btn btn-primary" %>
</div>



