<div class="container mt-3">
  <%= render 'main', community: @community %>
  <div class="card mt-5" style="width: 18rem;">
    <div class="card-header">
      トピック一覧
    </div>
    <ul class="list-group list-group-flush">
      <% if @topics.any? %>
        <% @topics.each do |topic| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <%= image_tag topic.image, size: "50x50", class: "rounded-circle mr-3" %>
            </div>
            <div>
              <%= link_to topic.title, community_topic_path(@community, topic) %>
            </div>
            <div>
             <i class="fa fa-commenting"></i>
              <%= topic.topic_comments.count %>
            </div>
          </li>
        <% end %>
      <% else %>
        <li class="list-group-item">
          トピックはまだありません
        </li>
      <% end %>
    </ul>
  </div>

  <div class="text-center mb-5">
  <%= link_to new_community_topic_path(@community), class: "btn btn-outline-info mt-3" do %>
    新しいトピックを作成する
  <% end %>
  </div>
</div>
