<%= render 'public/communities/main', community: @community %>

<div class="container">
  <div class="card mb-3">
    <% if @topic.image.present? %>
      <%= image_tag @topic.image, width: 800, height: 500, class: "img-resize, rounded mx-auto d-block", style: "object-fit: cover;" %>
    <% else %>
      <%= image_tag 'blog-no-image.jpg', width: 800, height: 500, class: "img-resize, rounded mx-auto d-block", style: "object-fit: cover;" %>
    <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @topic.title %></h5>
    <p class="card-text"><%= @topic.body %></p>
    <p class="card-text"><small class="text-muted"><%= @topic.created_at.strftime("%Y-%m-%d %H:%M:%S") %></small></p>
  </div>
  </div>
</div>


<div class= container>
  <div class="row">
    <div class="col-md-12">
      <% if @comments.present? %>
        <% @comments.each do |comment| %>
          <% if comment.member.profile_image.present? %>
            <%= image_tag comment.member.profile_image, class: "rounded-circle image_tag", size: "50x50" %>
          <% else %>
            <%= image_tag 'member-no-image.jpg', class: "rounded-circle image_tag", size: "50x50" %>
          <% end %>
          <%= comment.member.name %>さん
          <small class="text-muted"><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></small>
          <div class="card mb-2">
            <div class="card-body">
              <p class="card-text">
                <%= comment.comment %>
              </p>
              <% if current_member && comment.member_id == current_member.id %>
                <%= link_to "削除", community_topic_topic_comment_path(@community, @topic, comment), method: :delete, data: { confirm: "このコメントを削除しますか？" }, class: 'btn btn-danger btn-sm float-right' %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>コメントを投稿してください</p>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <%= form_with(model: @comment, url: community_topic_topic_comments_path(@community,@topic), method: :post) do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, placeholder: 'コメントを入力してください', class: 'form-control' %>
        </div>
        <div class="text-right mb-5">
          <%= f.submit 'コメントする', class: 'btn btn-outline-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

