<div class="container">
  <div class="row">
    <div class="col mx-auto mt-5 mb-5 text-center" >
      <h2>新規会員登録</h2>
    </div>
  </div>

  <div class="form_group mx-auto">
    <%= form_with model: @member, url: member_registration_path, method: :post do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
       <div class="row mb-3">
         <%= f.label :name, "ニックネーム", class:"col-2 offset-3" %>
         <%= f.text_field :name, autofocus: true, autocomplete: "ニックネーム" %>
       </div>
       <div class="row mb-3">
          <%= f.label :email, "メールアドレス", class:"col-2 offset-3" %>
          <%= f.email_field :email, autocomplete: "email" %>
       </div>
       <div class="row mb-3">
          <%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)", class:"col-2 offset-3" %>
          <%= f.password_field :password, autocomplete: "new-password" %>
       </div>
       <div class="row mb-3">
          <%= f.label :password_confirmation, "パスワード(確認用)", class:"col-2 offset-3" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
       </div>
       <div class="row">
         <div class="mx-auto mt-5 mb-5">
           <%= f.submit "新規登録(無料)", class: "btn btn-success" %>
           <p class="text-right mt-5">既に登録済みの方は<%= link_to "こちら", new_member_session_path, class: "underline" %>からログインしてください。</p>
         </div>
       </div>
    <% end %>
  </div>
</div>
