<div class="container">
  <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6">
      <div class="card">
        <%= image_tag @blog.image, class: "card-img-top", size: "100x100" if @blog.image.attached? %>
        <div class="card-body">
          <h1 class="card-title text-center" style="font-size: 1.5rem;"><%= @blog.title %></h1>
          <hr>
          <div class="text-center">
            <p class="card-text"><%= @blog.body %></p>
          </div>
          <hr>
          <%= link_to member_path(@member) do %>
            <% if @blog.member.profile_image.present? %>
              <%= image_tag @blog.member.profile_image, class: "rounded-circle image_tag", size: "50x50" %>
            <% else %>
              <%= image_tag 'member-no-image.jpg', class: "rounded-circle image_tag", size: "50x50" %>
            <% end %>
            <%= @blog.member.name %>さん
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <h2>コメント</h2>
      <% @blog.blog_comments.each do |comment| %>
        <% if comment.member.profile_image.present? %>
          <%= image_tag comment.member.profile_image, class: "rounded-circle image_tag", size: "50x50" %>
        <% else %>
          <%= image_tag 'member-no-image.jpg', class: "rounded-circle image_tag", size: "50x50" %>
        <% end %>
        <%= comment.member.name %>さん
        <div class="card mb-2">
          <div class="card-body">
            <p class="comment-author">
            </p>
            <p class="card-text">
              <%= comment.comment %>
            </p>
            <% if admin_signed_in? %>
              <%= link_to "削除", admin_blog_blog_comment_path(@blog, comment), method: :delete, data: { confirm: "このコメントを削除しますか？" }, class: 'btn btn-danger btn-sm float-right' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <h3>コメントを投稿する</h3>
      <%= form_with(model: BlogComment.new, url: blog_blog_comments_path(@blog), method: :post) do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, placeholder: 'コメントを入力してください', class: 'form-control' %>
        </div>
        <%= f.submit 'コメントする', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
