<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <% if @blog.image.present? %>
          <%= image_tag @blog.image, class: "card-img-top img-fluid", style: "object-fit: cover;" %>
        <% else %>
          <%= image_tag 'blog-no-image.jpg', class: "card-img-top img-fluid", style: "object-fit: cover;" %>
        <% end %>
        <div class="card-body">
          <h1 class="card-title"><%= @blog.title %></h1>
          <p class="card-text"><%= @blog.body %></p>
          <%= link_to "削除", admin_blog_path(@blog), method: :delete, data: { confirm: "この投稿を削除しますか？" }, class: 'btn btn-outline-danger btn-sm float-right' %>
        </div>
        <div class="card-body">
          <div class="media">
            <% if @blog.member.profile_image.present? %>
              <%= image_tag @blog.member.profile_image, class: "mr-3 rounded-circle", size: "50x50" %>
            <% else %>
              <%= image_tag 'member-no-image.jpg', class: "mr-3 rounded-circle", size: "50x50" %>
            <% end %>
            <div class="media-body">
              <h5 class="mt-3"><%= @blog.member.name %>さん</h5>
            </div>
          </div>
          <div class="float-right">
            <i class="far fa-comment"></i> <%= @blog.blog_comments.count %>
            <i class="fas fa-heart"></i> <%= @blog.favorites.count %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <h2>コメント</h2>
      <% @blog.blog_comments.each do |comment| %>
        <% if comment.member.profile_image.present? %>
          <%= image_tag comment.member.profile_image, class: "rounded-circle image_tag", size: "50x50" %>
        <% else %>
          <%= image_tag 'member-no-image.jpg', class: "rounded-circle image_tag", size: "50x50" %>
        <% end %>
        <%= comment.member.name %>さん
        <div class="card mb-2">
          <div class="card-body">
            <p class="comment-author">
            </p>
            <p class="card-text">
              <%= comment.comment %>
            </p>
            <% if admin_signed_in? %>
              <%= link_to "削除", admin_blog_blog_comment_path(@blog, comment), method: :delete, data: { confirm: "このコメントを削除しますか？" }, class: 'btn btn-outline-danger btn-sm float-right' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
