<header>
    <a class="navbar-brand" href="/">
      <img src="assets/logo.png" alt="" width="100" height="100" class="d-inline-block align-text-top">
    </a>
  <div id="navArea">
    <nav id="navArea2">
      <div class="inner">
        <ul>
          <% if member_signed_in? %>
            <li class="nav-item"><%= link_to 'マイページ', mypage_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'すべての投稿', blogs_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'コミュニティ一覧', communities_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_member_session_path, class: 'nav-link', method: :delete %></li>
          <% elsif admmin_signed_in? %>
              <!-- 管理者の場合のメニューアイテム -->
          <% else %>
              <li class="nav-item"><%= link_to 'すべての投稿', blogs_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to 'コミュニティ一覧', communities_path, class: 'nav-link' %></li>
              <li>
                <%= form_tag(members_guest_sign_in_path, method: :post) do %>
                  <%= submit_tag 'ゲストログイン', class: "nav-link" %>
                <% end %>
              </li>
              <li><%= link_to 'ログイン', new_member_session_path, class: 'nav-item' %></li>
              <li><%= link_to '新規会員登録(無料)', new_member_registration_path, class: 'nav-item' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="toggle-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
     <div id="mask"></div>
  </div>

</header>
