<header class="header border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <a href="/"><%= image_tag('logo.png', style: 'width: 100%; height: 50px;') %></a>
      </div>
      <div class="col-5">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="検索" aria-label="検索">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
        </form>
      </div>

      <div class="col-2">
        <div id="navArea">
          <nav id="navArea2">
            <div class="inner">
              <ul>
                <% if member_signed_in? %>
                  <li class="nav-item"><%= link_to 'マイページ', mypage_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'ブログ一覧', blogs_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'コミュニティ', communities_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to '投稿する', new_blog_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'ログアウト', destroy_member_session_path, class: 'nav-link', method: :delete %></li>
                <% elsif admin_signed_in? %>
                  <li class="nav-item"><%= link_to '会員一覧', admin_members_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'ブログ一覧', admin_blogs_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'コミュニティ', admin_communities_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, class: 'nav-link', method: :delete %></li>
                <% else %>
                  <li class="nav-item"><%= link_to 'ブログ一覧', blogs_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'コミュニティ', communities_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'ゲストログイン', members_guest_sign_in_path, method: :post, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'ログイン', new_member_session_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to '新規会員登録(無料)', new_member_registration_path, class: 'nav-link' %></li>
                <% end %>
              </ul>
            </div>
          </nav>
          <div class="toggle-btn">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div id="mask"></div>
        </div>
      </div>
    </div>
  </div>
</header>
