<header class="header border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a href="/"><%= image_tag('logo.png', style: 'width: 300px; height: 66px;') %></a>
      </div>
      <div class="col-6 col-md-8">
        <div class="search_form pt-3">
          <% if member_signed_in? %>
            <div>ようこそ<%= current_member.name %>さん!</div>
          <% elsif admin_signed_in? %>
             <div>管理者<div>
          <% else %>
             <div><div>
          <%end %>
          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.select :range, options_for_select([['ブログ'], ['コミュニティ']]) %>
            <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
            <%= f.text_field :word %>
            <%= f.submit "検索", class: "btn btn-outline-info btn-sm" %>
         <% end %>
        </div>
      </div>
        <div id="navArea">
          <nav id="navArea2">
            <div class="inner">
              <ul>
                <% if member_signed_in? %>
                  <li class="nav-item"><%= link_to 'マイページ', mypage_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'ブログ一覧', blogs_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'コミュニティ', communities_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to '投稿する', new_blog_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'ログアウト', destroy_member_session_path, class: 'nav-link', method: :delete %></li>
                <% elsif admin_signed_in? %>
                  <li class="nav-item"><%= link_to '会員一覧', admin_members_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'ブログ一覧', admin_blogs_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'コミュニティ', admin_communities_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, class: 'nav-link', method: :delete %></li>
                <% else %>
                  <li class="nav-item"><%= link_to 'ブログ一覧', blogs_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'コミュニティ', communities_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'ゲストログイン', members_guest_sign_in_path, method: :post, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to 'ログイン', new_member_session_path, class: 'nav-link' %></li>
                  <li class="nav-item"><%= link_to '新規会員登録(無料)', new_member_registration_path, class: 'nav-link' %></li>
                <% end %>
              </ul>
            </div>
          </nav>
          <div class="toggle-btn">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div id="mask"></div>
        </div>
    </div>
  </div>
</header>
